{% extends 'base.html.twig' %}

{% block title %}home
{% endblock %}

{% block body %}

	<img class="page-home" src="{{ asset('build/images/page1.png') }}"></img>
	<img class="page-home" src="{{ asset('build/images/page2.png') }}"></img>
	<img class="page-home" src="{{ asset('build/images/page3.png') }}"></img>
	<img class="page-home" src="{{ asset('build/images/page4.png') }}"></img>
	<img class="page-home" src="{{ asset('build/images/page5.png') }}"></img>

	<button id='button'>
		<div class="character">
			<div class="character__head">
				<div class="character__hat"></div>

				<div class="character__eyes"></div>
				<div class="character__nose"></div>
				<div class="character__mouth"></div>
				<div class="character__beard"></div>
			</div>

			<div class="character__body">
				<div class="character__arm">
					<div class="character__hand"></div>
				</div>
			</div>
		</div>
	</button>

	<div id='modalHolder'>
		<div class='modalContainer'>
			<button id='closeModalButton'>x</button>

					<div class="character modalChar">
			<div class="character__head">
				<div class="character__hat"></div>

				<div class="character__eyes"></div>
				<div class="character__nose"></div>
				<div class="character__mouth"></div>
				<div class="character__beard"></div>
			</div>

			<div class="character__body">
				<div class="character__arm">
					<div class="character__hand"></div>
				</div>
			</div>
		</div>

			<div class="question-container">
			 	<h1>Bonjour !</h1>
				<h2 id='question'></h2>
				<div id='buttonRep'>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
					<button class='choixRep'></button>
				</div>
				<div id='product-container'>
					<a href='' class='product'>test</a>
					<a href='' class='product'>test</a>
					<a href='' class='product'>test</a>
					<a href='' class='product'>Autres suggestions</a>
					<a href='' class='product'>Plus de suggestions</a>
					<a href='' class='product'>Me rendre sur la page avec les filtres appliqués</a>
				</div>
			</div>
			</div>
		</div>
	</div>

{% endblock %}
